<tr class="tr_relpace">
	<td class="td_nowrap">
		<% if online_pay.user.blank? %>
			用户信息缺失
		<% else %>
			<%=link_to  online_pay.user.username,registe_index_path(system: online_pay.user.system,username: online_pay.user.username),method: :get,title: online_pay.user.username%>
		<% end %>
	</td>
	<td class="td_nowrap">
		<span title="<%= online_pay.reconciliation_id %>">
			<%= online_pay.reconciliation_id %>
		</span>
	</td>
	<td class="td_nowrap">
		<%= online_pay.amount %>
		<% if actual_pay(online_pay.payway) %>
			(<%=online_pay.actual_amount%>)
		<% end %>
	</td>
	<td class="td_nowrap"><%= online_pay.get_convert_currency %></td>
	<td class="td_nowrap">
		<span title="<%= status_mapping(online_pay.status) %>">
			<%= status_mapping(online_pay.status) %>
		</span>
	</td>
<!-- 	<td><%= online_pay.callback_status %></td> -->
	<td class="td_nowrap"><%= payway_paytype_mapping(online_pay.payway.camelize + online_pay.paytype.camelize) %></td>
	<td class="td_nowrap">
<!-- 		<%= link_to online_pay.order_no,show_single_online_pay_path(online_pay) %> -->
		<a href="#" onclick="window.open('<%=show_single_online_pay_path(online_pay)%>',
			'_blank','scrollbars=0,toolbar=no,location=no,directories=no,status=yrd,menubar=no,scrollbars=no,resizable=yes;width=200');
			return false">
			<span title="<%=online_pay.order_no%>">
				<%=online_pay.order_no%>
			</span>
		</a>
	</td>
	<td class="td_nowrap">
		<span title="<%= online_pay.created_at %>">
			<%= online_pay.created_at %>
		</span>
	</td>
	<td class="td_nowrap">
		<% case get_expection_type_by_auth(online_pay.status)%>
		<% when 'manual_payment'%>
			<%=link_to '手动支付',expection_handling_manual_payment_path(online_pay_id: online_pay.id),method: :post,title: online_pay.reason%>
		<% when 'recall_notify'%>
			<%=link_to '手动调用',expection_handling_recall_notify_path(online_pay_id: online_pay.id),method: :post,title: online_pay.reason%>
		<% else %>
			<span title="<%= online_pay.reason %>">
				<%= online_pay.reason %>
			</span>		
		<% end %>
	</td>
</tr>