<div class="container-fluid">
	<% @page_title="交易查询" %>

	<div class="row-fluid">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>提示:</strong> 请输入查询条件进行查询!(时间段必输)
		</div>

		<div class="row-fluid">
			<div class="well">
				<%= form_tag index_online_pay_path,method:"get",remote: :true,id: "index_and_export_form" do %>
					 <%= label_tag(:l1, "交易来源系统:",class:"label_inline") %> 
					 <%= select_tag(:system,options_for_select([["",""],["包裹网站","mypost4u"],["quaie","quaie"]])) %> 
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l2, "包裹发送国家:",class:"label_inline") %>
					 <%= select_tag(:send_country,options_for_select(dynamic_send_country_select_tag)) %>
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l11, "交易状态:",class:"label_inline") %>
					 <%= select_tag(:online_pay_status,options_for_select([["",""],["成功","succ"],["成功(异常)","fail_third"],["未完成","quaie"],["失败","fail"]])) %>
					 </br>
					 <%= label_tag(:l3, "支付类型:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <%= select_tag(:payway,options_for_select([["",""],["paypal","paypal"],["sofort","sofort"],["支付宝","alipay"],["积分","score"],["电子现金","e_cash"]])) %> 
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l4, "支付子类型:",class:"label_inline") %>&nbsp;&nbsp;&nbsp;
					 <%= select_tag(:paytype,options_for_select([["",""],["国内支付","transaction"],["海外支付","oversea"]])) %> 
					 </br>
					 <%= label_tag(:l5, "用户名:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <%= text_field_tag(:username) %>
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l6, "注册E-Mail:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;
					 <%= text_field_tag(:email) %>
					 </br>
					 <%= label_tag(:l7, "交易号:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 <%= text_field_tag(:reconciliation_id) %>
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l8, "订单/补款号:",class:"label_inline") %> &nbsp;&nbsp;
					 <%= text_field_tag(:order_no) %>
					 </br>
					 <%= label_tag(:l9, "交易发起起期:",class:"label_inline") %> <%= datetime_field_tag(:start_time) %>
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l10, "交易发起止期:",class:"label_inline") %> <%= datetime_field_tag(:end_time) %>
					 <div class="btn-toolbar">
						 <%= submit_tag("查询",class: "btn btn-primary",id: "button_submit_time",data: {disable_with: '查询中.'}) %>
						 <%= link_to "导出",export_index_online_pay_path,class: "btn",method: "get",id: "link_to_export"%>
					          	<%=button_tag("清除条件",type: 'button',class: "btn",id: "button_clear") %>
				          	</div>
				<% end %>	
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<% unless flash[:notice].blank? %>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<%=flash[:notice]%>
			</div>
		<% end %>
		
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>提示:</strong> 点击订单/补款号查看详细信息!
		</div>

		<div class="well">
			<table class="table" id="online_pay_details_table">
				<%= render partial: "online_pay_and_user_detail_title" %>
				<%= render partial: "online_pay_and_user_detail_content",collection: @online_pay,as: :online_pay %>
			</table>
			<div class="div_paginate">
				<%= render partial: "layouts/paginate_replace_ajax",locals: {page_array: @online_pay} %>
			</div>
		</div>
	</div>
</div>