<% @page_title="支付明细" %>

<%= render partial:"finance_water/user",locals: {user: @user} %>
 <%= link_to '返回',:back %>
<div id="online_pay_details_content">
	<table id="online_pay_details_table">
		<%= render partial: "online_pay_detail_title" %>
		<%= render partial: "online_pay_detail_content",collection: @online_pays,as: :online_pay %>
	</table>
	<%= paginate @online_pays %>
</div>