username:<%= @user.username %> </br>
e_cash:<%= @user.e_cash %> score:<%= @user.score %>
<hr>
<table border="1">
<% @online_pays.each do |online_pay| %>
<tr>
  <td><%= online_pay.order_no %></td>
  <td><%= online_pay.amount %></td>
  <td><%= online_pay.status %></td>
  <td><%= online_pay.callback_status %></td>
  <td><%= online_pay.payway.camelize + online_pay.paytype.camelize %></td>
  <td><%= online_pay.trade_no %></td>
  <td><%= online_pay.reason %></td>
  </tr>
<% end %>
</table>