<div class="container-fluid">
  <% @page_title="财务流水明细" %>
  <% content_for :breadcrumb do %>
    <li> <%=link_to t('用户明细'),registe_index_path,method: :get%> <span class="divider">/</span></li>
    <li> <%=link_to t('财务流水明细'),show_user_finance_water_path(@user) ,method: :get%> <span class="divider">/</span></li>
  <% end %>

  <div class="row-fluid">
      <div class="row-fluid">
       <%= render partial:"user",locals: {user: @user} %>
      </div>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%=flash[:notice]%>
      </div>
    <% end %>

      <div class="row-fluid"> 
        <div class="well">
          <%= form_tag("/finance_water/#{@user.userid}/modify_web", method: "post",name: "form1") do %>
          <%= label_tag(:label1, "流水类型:",class:"label_inline") %> 
          <%= select_tag(:watertype,options_for_select([["积分","score"],["电子现金","e_cash"]],"score")) %> </br>

           <div class="hidden" id="div_hidden_time">
            <%= label_tag(:label6, "操作日期:",class:"label_inline") %> 
            <%= datetime_field_tag(:end_time,OnlinePay.current_time_format("%Y-%m-%d"),class: "auto_refresh") %>
           </div>

          <%= label_tag(:label2, "操作:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= select_tag(:symbol,options_for_select([["+","Add"],["-","Sub"]],"Add")) %> </br>
          <%= label_tag(:label3, "金额:",class:"label_inline") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= text_field_tag(:amount,0.00) %> </br>
          <%= label_tag(:label4, "新增原因:",class:"label_inline") %> 
          <%= text_area_tag(:reason,"#{session[:admin]} 手动调整" ,size: "40*5") %>
          <%= hidden_field_tag :system,@user.system %>
          <%= hidden_field_tag :channel,"finance_web" %>
          <%= hidden_field_tag :operator,session[:admin] %>

           <div class="hidden" id="div_hidden">
            <%= label_tag(:label5, "请输入密码:") %> 
            <%= password_field_tag(:passwd) %>
           </div>

           <div class="btn-toolbar">
            <%= button_tag("提交",type: 'button',class: "btn btn-primary",id: "input_passwd_watertype") %>
           </div>

          <% end %>
        </div>
      </div>

  </div>

</div>