<tr class="tr_relpace">
	<td>  <%= reconciliation_detail.payway %> </td>
	<td>  <%= reconciliation_detail.paytype%>  </td>
	<td>  <%= reconciliation_detail.transactionid %>  </td>
	<td>  <%= reconciliation_flag_mapping(reconciliation_detail.reconciliation_flag) %>  </td>
	<td>  <%= reconciliation_detail.amt %>  </td>
	<td>  <%= reconciliation_detail.transaction_status %>  </td>
	<td> 
		<% unless reconciliation_detail.online_pay_id.blank? %> 
			<%= link_to reconciliation_detail.online_pay.trade_no,show_single_online_pay_path(reconciliation_detail.online_pay_id) %>
			</br>
		<% end %>
		<%= reconciliation_detail.reconciliation_describe %>
	</td>
	<td>  <%= reconciliation_detail.timestamp %>  </td>
</tr>