<tr class="tr_relpace">
	<td>  <%= reconciliation_detail.payway %> </td>
	<td>  <%= reconciliation_detail.paytype%>  </td>
	<td>  <%= reconciliation_detail.transactionid %>  </td>
	<td> 
		<% unless reconciliation_detail.online_pay.blank? %> 
			 <%= reconciliation_detail.online_pay.order_no %>  
		<% end %> 
	</td>
	<td>  <%= reconciliation_flag_mapping(reconciliation_detail.reconciliation_flag) %>  </td>
	<td>  <%= reconciliation_detail.amt %>  </td>
	<td>  <%= reconciliation_detail.currencycode %>  </td>
<!-- 	<td>  <%= reconciliation_detail.transaction_status %>  </td>
	<td> 
		<% unless reconciliation_detail.online_pay_id.blank? %> 
			<% unless reconciliation_detail.online_pay.blank? %>
				<%= link_to reconciliation_detail.online_pay.trade_no,show_single_online_pay_path(reconciliation_detail.online_pay_id) %>
			<% else %>
				无对应在线支付记录数据,ID:<%= reconciliation_detail.online_pay_id %>
			<% end %>
			</br>
		<% end %> 
		<%= reconciliation_detail.reconciliation_describe %>
	</td> -->
	<td>  <%= reconciliation_detail.timestamp %>  </td>
	<td>  
		<% if  reconciliation_detail.reconciliation_flag==ReconciliationDetail::RECONCILIATIONDETAIL_FLAG['SUCC'] %> 
			<%= link_to "手工撤销",modify_transaction_reconciliation_path(transactionid: reconciliation_detail.id,flag: reconciliation_detail.reconciliation_flag),method: "post",data: { confirm: "请确认是否手工撤销对账成功记录?\n#{reconciliation_detail.transactionid}: #{reconciliation_detail.currencycode} #{reconciliation_detail.amt} " } %>
		<% else %>
			<%= link_to "手工对账",modify_transaction_reconciliation_path(transactionid: reconciliation_detail.id,flag: reconciliation_detail.reconciliation_flag),method: "post",data: { confirm: "请确认是否手工对账成功?\n#{reconciliation_detail.transactionid}: #{reconciliation_detail.currencycode} #{reconciliation_detail.amt} " }%>
		<% end %>
	</td>
</tr>