<div class="container-fluid">
<% @page_title="财务确认" %>
	<div class="row-fluid">
		<% unless flash[:notice].blank? %>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<%=flash[:notice]%>
			</div>
		<% end %>

		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>提示:</strong> 请输入对账日期进行查询!
		</div>
		<div class="row-fluid">
			<div class="well">
				<%= form_tag transaction_reconciliation_confirm_path,method:"post",name: "form1" do %>
				 	 <%= label_tag(:l1, "交易日期:",class:"label_inline") %> 
				 	 <%= datetime_field_tag(:start_time,@transaction_date,class: "auto_refresh") %>
					 &nbsp;&nbsp;&nbsp;
					 <%= label_tag(:l11, "交易来源系统:",class:"label_inline") %> 
					 <%= select_tag(:system,options_for_select([["",""],["包裹网站","mypost4u"],["quaie","quaie"]],@system),class: "auto_refresh") %> 
					 </br>
					<%= label_tag(:l13, "确认类型:",class:"label_inline") %>					 
					<%= select_tag(:reconciliation_type,options_for_select([["进账","in"],["退费","out"]],@reconciliation_type),class: "auto_refresh") %> 
					 &nbsp;&nbsp;&nbsp;
					<%= label_tag(:l12, "包裹发送国家:",class:"label_inline") %>
					<%= select_tag(:send_country,options_for_select(dynamic_send_country_select_tag,@send_country),class: "auto_refresh") %>
<!-- 					 <%= label_tag(:l2, "最晚对账成功时间:") %>  -->
					 <%= hidden_field_tag(:max_updated_at,@max_updated_at) %>
					 </br>
					 </br>
					 <%= label_tag(:l3, "对账成功未确认比数:") %> <%= text_field_tag(:confirm_num_display,@confirm_num,disabled: true) %>	
					 <%= hidden_field_tag(:confirm_num,@confirm_num) %>
					 <%= label_tag(:l4, "对账成功未确认金额:") %> <%= text_field_tag(:confirm_amount_display,@confirm_amount,disabled: true) %>
					 <div class="hidden" id="div_hidden">
						<%= label_tag(:l13, "请输入密码:") %> 
					 	<%= password_field_tag(:passwd) %>
					 </div>
					 <%= hidden_field_tag(:confirm_amount,@confirm_amount) %>
					 <div class="btn-toolbar">
						<%= button_tag("确认",type: 'button',class: "btn btn-primary",id: "input_passwd") %>
					          	<%= button_tag("刷新",type: 'button',class: "btn",id: "button_refresh") %>
				          	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>