<div class="container-fluid">
<% @page_title="帐号设置" %>
<% content_for :breadcrumb do %>
	<li> <%=link_to t('帐号设置'),admin_setting_index_path,method: :get%> <span class="divider">/</span></li>
<% end %>
	<div class="row-fluid">
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>帐号: <%= @admin_set_name %></strong>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>模块描述</th>
					<th>是否有权限</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<% @aa_hash.each do |aa| %>
				<tr>
					<td><%= aa[0] %></td>
					<td><%= aa[1][0] %></td>

					<% if aa[1][0]==true %>
						<td>
							 <%=link_to t('取消'),modify_authority_admin_setting_path(@admin_set_name,auth_controller: aa[1][1],auth_action: aa[1][2],status: false),method: :post%>
						</td>
					<% else %>
						<td>
							 <%=link_to t('增加'),modify_authority_admin_setting_path(@admin_set_name,auth_controller: aa[1][1],auth_action: aa[1][2],status: true),method: :post%>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>