<% @page_title="USER MANAGE" %>

<% @users.each do |user| %>
<p>
  <%= user.userid %>
  <%= user.username %>
  <%= user.e_cash %>
  <%= user.score %>
  <%= link_to 'finance_water_detail',show_user_score_path(user) %>
  <%= link_to 'online_pay_detail',show_user_online_pay_path(user) %>
  <hr>
</p>

<% end %>

