<% @page_title="用户明细" %>

<div id="user_details_condition">
<%= form_tag registe_index_path,method:"get",remote: :true do %>
	<fieldset>
		<legend>请输入查询条件</legend>
		 <%= label_tag(:l1, "注册系统:") %>
		 <%= select_tag(:system,options_for_select([["",""],["快易","quaie"],["包裹","mypost4u"]])) %> 
		 <%= label_tag(:l2, "用户名:") %> <%= text_field_tag(:username) %>
		 <%= label_tag(:l3, "流水类型:") %>
		 <%= select_tag(:symbol,options_for_select([["",""],["积分","e_cash"],["电子现金","score"]])) %> 
		 </br>
		 <%= label_tag(:l4, "流水金额起始:") %> <%= text_field_tag(:min_amount) %>
		 <%= label_tag(:l5, "流水金额终止:") %> <%= text_field_tag(:max_amount) %>
		</br>
		 <%= submit_tag("查询") %>

	          	<%=button_tag("清除条件",type: 'button',class: "button_clear") %>
	</fieldset>
<% end %>
</div>

<% unless flash[:notice].blank? %>
  <%=flash[:notice]%>
<% end %>

<div id="user_details_content">
	<table id="user_details_table">
		<tr>
			<td>用户ID</td>
			<td>用户名</td>
			<td>电子现金</td>
			<td>积分</td>
			<td></td>
			<td></td>
		</tr>
			
		<%= render partial: "index",collection: @users,as: :user %>
		
	</table>

	<div class="div_paginate">
		<%= render partial: "layouts/paginate_replace_ajax",locals: {page_array: @users} %>
	</div>
</div>

