<div class="container-fluid">
	<% @page_title="用户详细信息" %>
	<% content_for :breadcrumb do %>
		<li> <%=link_to t('用户明细'),registe_index_path,method: :get%> <span class="divider">/</span></li>
	<% end %>
	
	<div class="row-fluid">
		<div class="well">
			<table class="table">
				<tbody>
					<tr>
						<td>注册系统</td>
						<td><%= @user.system %></td>
					</tr>
					<tr>
						<td>渠道</td>
						<td><%= @user.channel %></td>
					</tr>
					<tr>
						<td>用户ID</td>
						<td><%= @user.userid %></td>
					</tr>
					<tr>
						<td>用户名</td>
						<td><%= @user.username %></td>
					</tr>
					<% if @user.isMerchant? %>
						<tr>
							<td>注册地址</td>
							<td><%= @user.address %></td>
						</tr>	
						<tr>
							<td>增值税号</td>
							<td><%= @user.vat_no %></td>
						</tr>
						<tr>
							<td>结算方式</td>
							<td><%= pay_type_mapping(@user.pay_type) %></td>
						</tr>
						<tr>
							<td>结算限额</td>
							<td><%= @user.pay_limit %></td>
						</tr>
					<% else %>
						<tr>
							<td>邮箱</td>
							<td><%= @user.email %></td>
						</tr>
					<% end %>
					<tr>
						<td>电子现金</td>
						<td><%= @user.e_cash %></td>
					</tr>
					<tr>
						<td>积分</td>
						<td><%= @user.score %></td>
					</tr>
					<tr>
						<td>注册日期</td>
						<td><%= @user.operdate %></td>
					</tr>
					<tr>
						<td>最后修改时间</td>
						<td><%= @user.updated_at %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
