<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
	<%=@page_title || 'title' %>
</div>

<div id="area">
	<div id="side">			
		<% if session[:admin].present? %>
			<% if session[:admin_level]>=0 %>
				<div id="side_search">
					<%=link_to t('用户'),registe_index_path,method: :get%>
					</br>
					<%=link_to t('财务对账'),transaction_reconciliation_index_path,method: :get%>
					</br>
					<%=link_to t('文件上传'),upload_file_index_path,method: :get%>
				</div>
			<% end %>

			<% if session[:admin_level]>=5 %>
				<div id="side_simulation">
					<%= link_to '模拟支付',simulation_path %>
					<%= link_to '模拟对账',simulation_simulate_reconciliation_path %>
				</div>
			<% end %>

			<div id="side_admin">
				<%=link_to t('首页'),admin_manage_sign_index_path,method: :get%>
				<%=link_to t('登出'),admin_manage_sign_out_path,method: :post%>
			</div>
		<% end %>
	</div>
	
	<div id="main">
		<%= yield %>
	</div>
</div>

</body>
</html>
